body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url(./assets/trave_background.jpg);
  background-size: cover;
  text-align: center;
  color: #febf89;
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
}

.main-component {
  background-color: white;
  border-radius: 5px;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* header css starts here */
.header-component {
  height: 20vh;
}

header {
  font-size: 50px;
  padding-top: 100px;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* card component css starts here */
.card-component {
  padding: 40px;
  max-width: 480px;
}

span {
  font-size: 12px;
  padding: 3px;
  color: gray;
}

span a {
  text-decoration: none;
}

p {
  max-width: 480px;
  text-align: justify;
}

.img-div {
  margin-top: 10px;
}
.location-img {
  width: 200px;
  height: 300px;
  border: 2px white solid;
  border-radius: 10px;
}
/* footer component css */
.footer-component {
  height: 15vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
